/* ---------------------- BASE STYLES --------------------------*/

* {
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
}

/* -------------------------- HEADER ------------------------ */

.header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/hero-img.jpg);
    background-size: cover;
    background-position: top;
    padding: 0;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: rgba(227, 226, 226);
    text-transform: uppercase;
    margin-bottom: 3rem;
    padding-left: 6rem;
    padding-right: 3.5rem;
    background-color: rgba(52, 58, 64, .8);
    border-radius: .5rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
}

.heading-primary--sub {
    display: block;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    padding-bottom: 1rem;
}

/* -------------------------- BUTTONS ------------------------ */

.btn
.btn:visited,
.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    display: inline-block;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem .1rem;
}

.btn--hero {
    padding: 1rem 5rem;
    border-radius: 10rem;
    font-size: 2rem;
}

.btn--classes {
    padding: 1rem 2rem;
    border-radius: 5rem;
    font-size: 1.5rem;
}

/* -------------------------- NAVIGATION ------------------------ */

.navbar {
    display: flex;
    text-transform: uppercase;
}

.navbar-brand {
    color: #E3E2E2;
    padding: 1rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.8rem;
}

.nav-link {
    color: #E3E2E2;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.8rem;
}

.collapse {
    justify-content: center;
    display: flex;
}

.navbar-nav {
    width: 100%;
    justify-content: space-evenly;
}

/* -------------------------- SECTION CARDS ------------------------ */

.section-cards {
    padding-top: 5rem;
}

.section-cards__heading {
    text-align: center;
    margin-bottom: 5rem;
}

.section-cards__heading h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: .2rem;
}

.card {
    height: 100%;
    border: none;
    margin-bottom: 2rem;
}

.card__img img {
    width: 100%;
    height: 30rem;
    margin-bottom: 2rem;
}

.card__heading h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 1rem 1rem;
}

.card__description p {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    padding: 1rem 1rem 1rem;
}

/* -------------------------- SECTION CLASSES ------------------------ */
.section-classes {
    position: relative;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(img/classes-img.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.classes {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #E3E2E2;
}

.classes h3 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.classes p {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

/* -------------------------- SECTION REVIEWS ------------------------ */

.section-reviews {
    background-color: #ECECEC;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section-reviews__heading {
    text-align: center;
    margin-bottom: 5rem;
}

.section-reviews__heading h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: .2rem;
}

.reviews {
    border: none;
    width: 100%;
}

.reviews__img img {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    border-radius: 50%;
}

.reviews__icon {
    text-align: center;
}

.reviews__text {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    padding: 1rem 1rem 1rem;
}

.reviews__text p {
    margin-top: 1rem;
}

/* -------------------------- SECTION VIDEO TOUR ------------------------ */

.section-tour {
    text-align: center;
    padding: 5rem 0 5rem 0;
}

.section-tour__video {
    width: 70rem;
    height: 30rem;
}

.section-tour__heading h3 {
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

/* -------------------------- SECTION SOCIAL LINKS ------------------------ */

.section-social {
    background-color: #ECECEC;
    padding: 5rem 0 5rem 0;
    text-align: center;
}

.section-social__heading h3 {
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.section-social__heading p {
    font-size: 1.8rem;
    margin-bottom: 5rem;
}

.section-social__icon {
    width: 6.4rem;
    height: 6.4rem;
    padding: 2.4rem 0;
    border-radius: 50%;
    font-size: 2.6rem;
    line-height: 1.4rem;
    text-align: center;
    color: #fafafa;
    transition: all .35s ease-in-out;
}

.facebook-icon {
    background-color: #4267B2;
}

.twitter-icon {
    background-color: #00acee;
}

.instagram-icon {
    background-color: #3f729b;
}

.youtube-icon {
    background-color: #FF0000;
}

.facebook-icon:hover {
    background-color: #2a4b8c;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem .1rem;
    cursor: pointer;
}

.twitter-icon:hover {
    background-color: #0184b8;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem .1rem;
    cursor: pointer;
}

.instagram-icon:hover {
    background-color: #2d587b;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem .1rem;
    cursor: pointer;
}

.youtube-icon:hover {
    background-color: #cb0000;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem .1rem;
    cursor: pointer;
}

