/* ---------------------- BASE STYLES --------------------------*/

* {
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
}

/* -------------------------- HEADER ------------------------ */

.header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/hero-img.jpg);
    background-size: cover;
    background-position: top;
    padding: 0;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: rgba(227, 226, 226);
    text-transform: uppercase;
    margin-bottom: 3rem;
    padding-left: 6rem;
    padding-right: 3.5rem;
    background-color: rgba(52, 58, 64, .8);
    border-radius: .5rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
}

.heading-primary--sub {
    display: block;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    padding-bottom: 1rem;
}

/* -------------------------- BUTTONS ------------------------ */

.btn
.btn:visited,
.btn:link,
.btn:visited {
        text-decoration: none;
        text-transform: uppercase;
        background-color: #fff;
        padding: 1rem 5rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 2rem;
    }

.btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem .1rem;
    }

/* -------------------------- NAVIGATION ------------------------ */

.navbar {
    display: flex;
    text-transform: uppercase;
}

.navbar-brand {
    color: rgba(227, 226, 226);
    padding: 1rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.8rem;
}

.nav-link {
    color: rgba(227, 226, 226);
    padding: 1rem;
    font-weight: 700;
    font-size: 1.8rem;
}

.collapse {
    justify-content: center;
    display: flex;
}

.navbar-nav {
    width: 100%;
    justify-content: space-evenly;
}

/* -------------------------- CARDS ------------------------ */

.section-cards {
    padding-top: 6rem;
}

.card {
    height: 65rem;
    border: none;
}

.card__img img {
    width: 100%;
    height: 30rem;
    margin-bottom: 2rem;
}

.card__heading h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 1rem 1rem;
}

.card__description p {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    padding: 1rem 1rem 1rem;
}